// Override this file to add your own SCSS styling.
body {
	font-family: Optima, "Avenir Next", Avenir, Calibri, Arial, sans-serif;
}


.article-style .bio-text {
	text-align: left;
	max-width: 100% 
}

.home-section:first-of-type, .home-section{
	padding-top: 0px;
}

.home-section {
	padding: 10px;
}